<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <head>
        <title>Find Patient in Hospital</title>
    </head>
    <body>
        <ui:composition template="index.xhtml">
            <ui:define name="content">
                <h:form id="findPatientForm1" >
                    <p:panel header="Find patient by name">
                    <h:outputText value="Enter Hospital Name: " />
                    <h:inputText id="addHospitalName" value="#{hospISBean.hospital.name}" required="true">
                    </h:inputText><br></br>
                    <h:outputText value="Enter Patient Name: " />
                    <h:inputText id="addPatientName" value="#{hospISBean.patient.firstName}" required="true">
                    </h:inputText><br></br>
                    <h:outputText value="Enter Patient Surname: " />
                    <h:inputText id="addPatientSurname" value="#{hospISBean.patient.surname}" required="true">
                    </h:inputText><br></br>
                    <h:commandButton value="Find" action="#{hospISBean.findPatientByName()}">
                        <f:ajax execute="addHospitalName addPatientName addPatientSurname" render="findPatientByName" />
                    </h:commandButton>      
                    <br></br>
                    </p:panel>
                </h:form>
                    <p:panel id="findPatientByName" header="Found patients">
                        <p:dataTable value ="#{hospISBean.patientList}" var ="p">
                        <p:column>    				
                            <f:facet name = "header">Patient Name</f:facet>    				
                                #{p.firstName}
                        </p:column>
                            <p:column>    				
                            <f:facet name = "header">Patient Surname</f:facet>    				
                                #{p.surname}
                        </p:column>
                            <p:column>    				
                            <f:facet name = "header">Patient ID</f:facet>    				
                                #{p.IDnumber}
                        </p:column>
                            <p:column>    				
                            <f:facet name = "header">Patient Birth</f:facet>    				
                                #{p.birth}
                        </p:column>
                            <p:column>    				
                            <f:facet name = "header">Patient Insurance ID</f:facet>    				
                                #{p.IDinsurance}
                        </p:column>
                    </p:dataTable>
                    </p:panel>
            </ui:define>
        </ui:composition>
    </body>
</html>
