<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Add Hospitalization</title>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <ui:define name="content">
                <h:form>
                   <p:panel header="Add hospitalization">
                    <h:outputText value="Enter Hospital Name: " />
                    <h:inputText id="hospName" value="#{hospISBean.hosp.hospitalName}" required="true"></h:inputText>
                    <br/>  
                    <h:outputText value="Enter Patient ID number: " />
                    <h:inputText id="patientID" value="#{hospISBean.hosp.patientID}" required="true"></h:inputText>
                    <br/>  
                    <h:outputText value="Enter Hospitalization Start Date: " />
                    <p:calendar id="hospStart" value="#{hospISBean.hosp.start}" required="true" />
                    <br/>  
                    <h:outputText value="Enter Hospitalization End Date: " />
                    <p:calendar id="hospEnd" value="#{hospISBean.hosp.end}"/>
                    <br/>  
                    <h:outputText value="Enter Diagnosis: " />
                    <h:inputText id="hospDiagnosis" value="#{hospISBean.hosp.diagnosis}" required="true"></h:inputText>
                    <br/>  
                    <h:commandButton value="Add" action="#{hospISBean.addHospitalizationStart()}">
                    <f:ajax execute="hospName patientID hospStart hospEnd hospDiagnosis" render="addHosInfo" />
                    </h:commandButton>  
                    <br></br>
                    <h:outputText id="addHosInfo" value="#{hospISBean.info}" />
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
