<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Add Patient</title>
        <!--        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <ui:define name="content">
                <h:form>
                   <p:panel header="Add patient">
                    <h:outputText value="Enter Patient First Name: " />
                    <h:inputText id="patientName" value="#{hospISBean.patient.firstName}" required="true"></h:inputText>
                    <br/>  
                    <h:outputText value="Enter Patient Surname: " />
                    <h:inputText id="patientSurname" value="#{hospISBean.patient.surname}" required="true"></h:inputText>
                    <br/>  
                    <h:outputText value="Enter Patient ID number: " />
                    <h:inputText id="patientID" value="#{hospISBean.patient.IDnumber}" required="true"></h:inputText>
                    <br/>  
                    <h:outputText value="Enter Patient Insurance Number: " />
                    <h:selectOneMenu id="patientInsurance" value="#{hospISBean.patient.IDinsurance}" required="true">
                        <f:selectItem itemValue="1" itemLabel="VSZP" />
                        <f:selectItem itemValue="2" itemLabel="Union" />
                        <f:selectItem itemValue="3" itemLabel="Dovera" />
                    </h:selectOneMenu>
                    <br/>  
                    <h:outputText value="Enter Patient Birthdate: " />
                    <p:calendar id="patientBirth" value="#{hospISBean.patient.birth}" required="true" />
                    <br/>  
                    <h:commandButton value="Add" action="#{hospISBean.addPatient()}">
                    <f:ajax execute="patientName patientSurname patientID patientInsurance patientBirth" render="addPatientInfo" />
                    </h:commandButton>  
                    <br></br>
                    <h:outputText id="addPatientInfo" value="#{hospISBean.info}" />
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
