<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Bills</title>
        <!--        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <ui:define name="content">
                <h:form>
                   <p:panel header="Bills">
                    <h:outputText value="Enter Month: " />
                    <h:selectOneMenu id="month" value="#{hospISBean.month}" required="true">
                        <f:selectItem itemValue="1" itemLabel="January" />
                        <f:selectItem itemValue="2" itemLabel="February" />
                        <f:selectItem itemValue="3" itemLabel="March" />
                        <f:selectItem itemValue="4" itemLabel="April" />
                        <f:selectItem itemValue="5" itemLabel="May" />
                        <f:selectItem itemValue="6" itemLabel="June" />
                        <f:selectItem itemValue="7" itemLabel="July" />
                        <f:selectItem itemValue="8" itemLabel="August" />
                        <f:selectItem itemValue="9" itemLabel="September" />
                        <f:selectItem itemValue="10" itemLabel="October" />
                        <f:selectItem itemValue="11" itemLabel="November" />
                        <f:selectItem itemValue="12" itemLabel="December" />
                    </h:selectOneMenu>
                    <br/>  
                    <h:outputText value="Enter Year: " />
                    <p:inputNumber id="year" value="#{hospISBean.year}" required="true" decimalPlaces="0"/>  
                    <br/>  
                    <h:commandButton value="Count" action="#{hospISBean.bills()}">
                    <f:ajax execute="month year" render="Info patList" />
                    </h:commandButton>  
                    <br></br>
                    </p:panel>
                </h:form>
                <p:panel id="Info" header="Day Counter">
                    <p:dataTable value ="#{hospISBean.counterList}" var ="ic" paginator="true" rows="20"
                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                 rowsPerPageTemplate="10,20,50,100">
                        <p:column>    				
                            <f:facet name = "header">Insurance ID</f:facet>    				
                                #{hospISBean.counterList.indexOf(ic) + 1}
                        </p:column>
                            <p:column>    				
                            <f:facet name = "header">Days in hospitals</f:facet>    				
                                #{ic}
                        </p:column>
                    </p:dataTable>
                    </p:panel>
                <p:panel id="patList" header="Hospitalized Patients">
                    <p:dataTable value ="#{hospISBean.billList}" var ="p" paginator="true" rows="20"
                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                 rowsPerPageTemplate="10,20,50,100">
                        <p:column>    				
                            <f:facet name = "header">Hospitalization Date</f:facet>    				
                                #{p.date}
                        </p:column>
                            <p:column>    				
                            <f:facet name = "header">Patient ID</f:facet>    				
                                #{p.patientID}
                        </p:column>
                            <p:column>    				
                            <f:facet name = "header">Diagnosis</f:facet>    				
                                #{p.diagnosis}
                        </p:column>
                            <p:column>    				
                            <f:facet name = "header">Hospital</f:facet>    				
                                #{p.hospital}
                        </p:column>
                    </p:dataTable>
                    </p:panel>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
