<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <head>
        <title>Hospitalized Patients</title>
    </head>
    <body>
        <ui:composition template="index.xhtml">
            <ui:define name="content">
                <h:form id="findPatientForm2" >
                    <p:panel header="Hospitalized Patients">
                    <h:outputText value="Enter Hospital Name: " />
                    <h:inputText id="addHospitalName" value="#{hospISBean.hospital.name}" required="true">
                    </h:inputText><br></br>
                    <h:outputText value="Enter Date Date: " />
                    <p:calendar id="dateVal" value="#{hospISBean.date}" required="true" />
                    <br/>  
                    <h:outputText value="Enter Patient Insurance Number: " />
                    <h:selectOneMenu id="patientInsurance" value="#{hospISBean.ins.insID}" required="true">
                        <f:selectItem itemValue="1" itemLabel="VSZP" />
                        <f:selectItem itemValue="2" itemLabel="Union" />
                        <f:selectItem itemValue="3" itemLabel="Dovera" />
                    </h:selectOneMenu>
                    <br/>  
                    <h:commandButton value="Show" action="#{hospISBean.showActualHospitPatientsByInsurance()}">
                        <f:ajax execute="addHospitalName dateVal patientInsurance" render="showPatients" />
                    </h:commandButton>      
                    <br></br>
                    </p:panel>
                </h:form>
                    <p:panel id="showPatients" header="Hospitalized Patients">
                        <p:dataTable value ="#{hospISBean.hospList}" var ="p" paginator="true" rows="20"
                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                 rowsPerPageTemplate="10,20,50,100">
                        <p:column>    				
                            <f:facet name = "header">Hospitalization Start</f:facet>    				
                                #{p.start}
                        </p:column>
                            <p:column>    				
                            <f:facet name = "header">Hospitalization End</f:facet>    				
                                #{p.end}
                        </p:column>
                            <p:column>    				
                            <f:facet name = "header">Diagnosis</f:facet>    				
                                #{p.diagnosis}
                        </p:column>
                            <p:column>    				
                            <f:facet name = "header">Patient ID</f:facet>    				
                                #{p.patientID}
                        </p:column>
                            <p:column>    				
                            <f:facet name = "header">Hospital ID</f:facet>    				
                                #{p.hospitalName}
                        </p:column>
                    </p:dataTable>
                    </p:panel>
            </ui:define>
        </ui:composition>
    </body>
</html>
