<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Add Hospital</title>
        <!--        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <ui:define name="content">
                <h:form id="addHospitalForm" >
                    <p:panel header="Add hospital">
                    <h:outputText value="Enter Hospital Name: " />
                    <h:inputText id="addHospitalName" value="#{hospISBean.hospital.name}" required="true">
                    </h:inputText>
                    <h:commandButton value="Add" action="#{hospISBean.addHospital()}">
                        <f:ajax execute="addHospitalName" render="addHospitalInfo" />
                    </h:commandButton>      
                    <br></br>
                    <h:outputText id="addHospitalInfo" value="#{hospISBean.info}" />
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
