<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <head>
        <title>Show all hospitals</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <ui:composition template="index.xhtml">
            <ui:define name="content">
                <h:form>
                    <p:panel header="List of hospitals sorted by name">
                        <p:dataTable value ="#{hospISBean.hospitalList}" var ="h" paginator="true" rows="20"
                                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                 rowsPerPageTemplate="10,20,50,100">
                        <p:column>    				
                            <f:facet name = "header">Hospital Name</f:facet>    				
                                #{h.name}
                        </p:column>
                    </p:dataTable>
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
