<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Delete Hospital</title>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <ui:define name="content">
                <h:form id="deleteHospitalForm" >
                    <p:panel header="Delete hospital">
                    <h:outputText value="Deleted hospital: " />
                    <h:inputText id="delName" value="#{hospISBean.name}" required="true">
                    </h:inputText>
                    <h:outputText value="Alternate hospital: " />
                    <h:inputText id="alterName" value="#{hospISBean.hospital.name}" required="true">
                    </h:inputText>
                    <h:commandButton value="Delete" action="#{hospISBean.deleteHospital()}">
                        <f:ajax execute="delName alterName" render="addHospitalInfo" />
                    </h:commandButton>      
                    <br></br>
                    <h:outputText id="addHospitalInfo" value="#{hospISBean.info}" />
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
