<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Footer</title>
    </h:head>
    <h:body>
        <ui:composition>
            <h:form>
                -----------------------------------------------------------------------
                <br></br>
                |<h:link value="Generator" outcome="generator"/>|<br></br>
                |<h:link value="Save/Load" outcome="saveload"/>|<br></br>
                |<h:link value="1. Find patient in hospital by ID" outcome="01patientInHospital"/>|<br></br>
                |<h:link value="2. Find patient in hospital by patient's name" outcome="02patientInHospital"/>|<br></br>                
                |<h:link value="3. Insert record about starting hospitalization" outcome="03startHosp"/>|<br></br>
                |<h:link value="4. Insert record about ending hospitalization" outcome="04endHosp"/>|<br></br>
                |<h:link value="5. Find hospitalized patients in specific time" outcome="05hospitPatientsRange"/>|<br></br>
                |<h:link value="6. Add patient" outcome="06addPatient"/>|<br></br>
                |<h:link value="7. Insurance material" outcome="07bills"/>|<br></br>
                |<h:link value="8. Show actual hospitalized patients" outcome="08actualHospit"/>|<br></br>
                |<h:link value="9. Show actual hospitalized patients of specific insurance company" outcome="09actualHospitByInsur"/>|<br></br>
                |<h:link value="10. Show actual hospitalized patients of specific insurance company sorted by patient ID" outcome="10actualHospitSorted"/>|<br></br>                
                |<h:link value="11. Add hospital" outcome="11addHospital"/>|<br></br>
                |<h:commandLink value="12. Show all hospitals inOrder sorted" action="#{hospISBean.fillHospitalSortedByName()}">
                </h:commandLink>|<br></br>
                |<h:link value="13. Delete hospital"  outcome="13deleteHospital"/>|<br></br>
                |<h:commandLink value="14. Show all hospitals postOrder sorted" action="#{hospISBean.fillHospitalPostOrder()}">
                </h:commandLink>|<br></br>
            </h:form>
        </ui:composition>
    </h:body>
</html>

