<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Generator</title>
        <!--        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <ui:define name="content">
                <h:form id="generatorForm" >
                    <p:panel header="Generator">
                    <h:outputText value="Enter number of hospitals: " />
                    <p:inputNumber id="genHosp" value="#{hospISBean.hospNumber}" required="true" decimalPlaces="0">
                    </p:inputNumber><br></br>
                    <h:outputText value="Enter number of patients: " />
                    <p:inputNumber id="genPat" value="#{hospISBean.patNumber}" required="true" decimalPlaces="0">
                    </p:inputNumber><br></br>
                    <h:outputText value="Enter number hospitalizations for each patient: " />
                    <p:inputNumber id="genHospit" value="#{hospISBean.hospitNumber}" required="true" decimalPlaces="0">
                    </p:inputNumber><br></br>
                    <h:commandButton value="Generate" action="#{hospISBean.generateIS()}">
                        <f:ajax execute="genHosp genPat genHospit" render="genInfo" />
                    </h:commandButton>      
                    <br></br>
                    <h:outputText id="genInfo" value="#{hospISBean.info}" />
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
