<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>IS for hospitals</title>
    </h:head>
    <h:body>
<!--        <h:outputStylesheet name="style.css" library="css" />-->
        <div id="page">

            <div id="content">
                <ui:insert name="content" >
                    <h1>Hello world and welcome UDS2 - Project 1 - IS for hospitals!</h1>
                </ui:insert>
            </div>
            <div id="footer">
                <ui:insert name="footer" >
                    <ui:include src="footer.xhtml" />
                </ui:insert>
            </div>
        </div>
    </h:body>
</html>

