<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Save/Load</title>
    </h:head>
    <h:body>
        <ui:composition template="index.xhtml">
            <ui:define name="content">
                    <p:panel header="Save">
                        <h:commandButton value="Save" action="#{hospISBean.save()}">
                        <f:ajax render="addHospitalInfo" />
                    </h:commandButton>      
                    </p:panel>
                <p:panel header="Load">
                    <h:commandButton value="Load" action="#{hospISBean.load()}">
                        <f:ajax  render="addHospitalInfo" />
                    </h:commandButton>      
                    </p:panel>
                <p:panel>
                    <h:outputText id="addHospitalInfo" value="#{hospISBean.info}" />
                    </p:panel>                
            </ui:define>
        </ui:composition>
    </h:body>
</html>
